*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    height: 90vh;
}


img{
    width: 100px;
    max-width: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .3s linear;
}

img:hover, img:focus{
    transform: scale(1.1);
}
